@* AUTHOR     : ChristesR *@

@* View for Detailled viewing HealthInsurances *@

@model BiberDAMM.Models.HealthInsurance

@{
    ViewBag.Title = "Versicherungsdetails";
}

<h2>@ViewBag.Title</h2>

<!--show alert if the HealthInsurance could not be deleted-->
@if (TempData["HealthInsuranceError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Löschen fehlgeschlagen! </strong>@TempData["HealthInsuranceError"]
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>




    <div class="form-actions no-color">

        @if (Session["TempClient"] != null || Session["TempNewClient"] != null)
            {

            <button title="Krankenversicherung hinzufügen" onclick="location.href = '@Url.Action("AddInsuranceToClient", new { id = Model.Id })';return false;" class="btn btn-outline-primary btn-sm">Hinzufügen</button>
        }
        else
        {
            <button title="Bearbeiten" onclick="location.href = '@Url.Action("Edit", new { id = Model.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>

        }

        <button type="button" title="Löschen" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        <button title="Zurück zur Übersicht" onclick="location.href = '@Url.Action("Index")';return false;" class="btn btn-outline-primary btn-sm">Zurück</button>
    </div>

</p>


<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display: inline-block;">Krankenkasse löschen</h4>
                <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true" style="float: right;color:deepskyblue"></i>
            </div>
            <div class="modal-body">
                <p>Möchten Sie die Krankenkasse "<b>@Html.DisplayFor(model => model.Name)</b>" wirklich löschen?</p>
                <table class="table" style="width:50%">
                    <tr>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                            </dl>
                        </td>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Type)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Type)
                                </dd>
                            </dl>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Room", new { roomId = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <button title="Löschen" onclick="location.href = '@Url.Action("DeleteConfirmed", new { id=Model.Id})';return false;" class="btn btn-outline-primary btn-sm">Löschen</button>
                    <button title="Abbrechen" type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Abbrechen</button>
                }
            </div>
        </div>

    </div>
</div>