@* AUTHOR     : ChristesR *@

@* View for Detailled viewing HealthInsurances *@

@model BiberDAMM.Models.HealthInsurance

@{
    ViewBag.Title = "Versicherungsdetails";
}

<h2>@ViewBag.Title</h2>

<!--show alert if the HealthInsurance could not be deleted-->
@if (TempData["HealthInsuranceError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Löschen fehlgeschlagen! </strong>@TempData["HealthInsuranceError"]
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="form-actions no-color">

            <button onclick="location.href = '@Url.Action("Edit", new {id = Model.Id})';return false;" class="btn btn-default">Bearbeiten</button>

            <input type="submit" value="Löschen" class="btn btn-default" />

            <br />
            <br />
            <button onclick="location.href = '@Url.Action("Index")';return false;" class="btn btn-default">Zurück zur Übersicht</button>
        </div>
    }
</p>