@* AUTHOR     : ChristesR *@

@* View for Detailled viewing HealthInsurances *@

@model BiberDAMM.Models.HealthInsurance

@{
    ViewBag.Title = "Versicherungsdetails";
}

<h2>Versicherungsdetails</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="form-actions no-color">

            <button onclick="location.href = '@Url.Action("Edit", new {id = Model.Id})';return false;" class="btn btn-default">Bearbeiten</button>


            @* A HealthInsurance can only be deleted, if there are no Clients using this *@
            @if (Model.Client.Count == 0)
            {
                <input type="submit" value="Löschen" class="btn btn-default"/>
            }
            else
            {
                <h5>Versicherung kann nicht gelöscht werden, da ihr noch Patienten zugeordnet sind.</h5>
            }
            <br/>
            <br/>
            <button onclick="location.href = '@Url.Action("Index")';return false;" class="btn btn-default">Zurück zur Übersicht</button>
        </div>
    }
</p>