@* AUTHOR     : ChristesR *@

@* Klasse für die Detailansicht von Krankenkassen *@

@model BiberDAMM.Models.HealthInsurance

@{
    ViewBag.Title = "Versicherungsdetails";
}

<h2>Versicherungsdetails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Zurück zur Übersicht", "Index")
</p>
