@* AUTHOR     : ChristesR *@

@model IEnumerable<BiberDAMM.Models.HealthInsurance>

@{
    ViewBag.Title = "Versicherungsübersicht";
}

<h2>Versicherungsübersicht</h2>

<p>
    @Html.ActionLink("Neue Versicherung anlegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>Verfügbare Aktionen</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
           @* @Html.ActionLink("Bearbeiten", "Edit", new { id=item.Id }) |
    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
    @Html.ActionLink("Löschen", "Delete", new { id=item.Id })
        *@
            <button onclick="location.href='@Url.Action("Edit", new { id=item.Id })';return false;">Bearbeiten</button>
            <button onclick="location.href='@Url.Action("Details", new { id=item.Id })';return false;">Details</button>
            <button onclick="location.href='@Url.Action("Delete", new { id=item.Id })';return false;">Löschen</button>
        </td>
    </tr>
}

</table>
