<!-- details page for an ApplicationUser
author: KrabsJ
-->

@model BiberDAMM.Models.ApplicationUser

@{
    ViewBag.Title = "Benutzerdetails";
}

<h2>@ViewBag.Title</h2>

<!--show alert "EditUserSuccess" if a user was successfully updated-->
@if (TempData["EditUserSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Änderungen gespeichert!</strong>@TempData["EditUserSuccess"]
    </div>
}

<!--show alert "NewInitialPasswordSuccess" if a new password was successfully set-->
@if (TempData["NewInitialPasswordSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Änderungen gespeichert!</strong>@TempData["NewInitialPasswordSuccess"]
    </div>
}

<!--show alert "DeleteFailed" if deleting an user failed-->
@if (TempData["DeleteFailed"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Löschen nicht möglich!</strong>@TempData["DeleteFailed"]
    </div>
}

<hr />

<div class="container-fluid">

    <h4>Persönliche Daten</h4>

    <div class="row">

        <div class="form-group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    Benutzername
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
            </dl>
        </div>

        @if (!Model.Title.IsEmpty())
            {
            <div class="form-group col-md-3">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                </dl>
            </div>
        }

        <div class="form-group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Surname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>
            </dl>
        </div>
        
        <div class="form-group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Lastname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lastname)
                </dd>
             </dl>
        </div>

    </div>

    <hr />

    <h4>Kontakt</h4>

    <div class="row">

        <div class="form-group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    E-Mail
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>

        <div class="form-group col-md-3">
            <dl class="dl-horizontal">

                <dt>
                    Telefonnummer
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </dl>
        </div>

    </div>

    <hr/>

    <h4>Administrative Eigenschaften</h4>

    <div class="row">

        <div class="form-group col-md-3">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.UserType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserType)
                </dd>

            </dl>
        </div>

        <div class="form-group col-md-3">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Active)
                </dt>

                @if (Model.Active)
            {
                    <dd>ja</dd>
                }
                else
                {
                    <dd>nein</dd>
                }

            </dl>
        </div>
    </div>

    <button title="Bearbeiten" onclick="location.href = '@Url.Action("Edit", "Account", new {userId = Model.Id})'" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button type="button" title="Löschen" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    <button title="Zurück zur Übersicht" onclick="location.href = '@Url.Action("Index", "Account")'" class="btn btn-outline-primary btn-sm">Zurück</button>
        
</div>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display: inline-block;">Benutzer löschen</h4>
                <i class="fa fa-exclamation-triangle fa-3x icon-outline-primary" aria-hidden="true" style="float: right;"></i>
            </div>
            <div class="modal-body">
                <p>Möchten Sie diesen Benutzer wirklich löschen?</p>
                <table class="table" style="width:50%">
                    <tr>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    Benutzername
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UserName)
                                </dd>
                            </dl>
                        </td>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Surname)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Surname)
                                </dd>
                            </dl>
                        </td>
                        <td>
                            <dl>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Lastname)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Lastname)
                                </dd>
                            </dl>
                            </td>
                        </tr>
                </table>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Account", new { userId = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input title="Löschen" type="submit" value="Löschen" class="btn btn-outline-primary btn-sm" />
                    <button title="Abbrechen" type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Abbrechen</button>
                }
            </div>
        </div>

    </div>
</div>