<!--
    The Account-Index View shows a table of all ApplicationUsers (or all ApplicationUser that match the searchString)
    author: KrabsJ
-->
@model IEnumerable<BiberDAMM.Models.ApplicationUser>

@{ViewBag.Title = "Nutzerübersicht";}

<h2>Nutzerübersicht</h2>

<p>
    @Html.ActionLink("Nutzer hinzufügen", "Register")
</p>

<p>

    @using (Html.BeginForm())
    {
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Suchen" />
    </p>
    }

</p>

<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th>Aktionen</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modeItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modeItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modeItem => item.UserType)
            </td>
            <td>
                <button onclick="location.href='@Url.Action("Edit", new { id=item.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button onclick="location.href='@Url.Action("Details", new { id=item.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-info" aria-hidden="true"></i></button>
                <button onclick="location.href='@Url.Action("Delete", new { id=item.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
        </tr>
    }
</table>

