@using System.Web.UI.WebControls
@using BiberDAMM.Models
@model LoginViewModel
@{
    //Custom-Layout for the LoginPage [HansesM]
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Anmelden";
}

<!-- Layout for LoginPage [HansesM]-->

<div class="login-page">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            
            <img src="/Content/Images/Logo_Damm260.png" width="270"/>

            <h2></h2>
            
            @Html.AntiForgeryToken()

            @Html.ValidationMessage("InactiveUser");

            @Html.TextBoxFor(m => m.Username, new { placeholder = "Nutzername" })
        
            @Html.PasswordFor(m => m.Password, new { placeholder = "Passwort" })

            @Html.ValidationMessage("WrongUsernameOrPass");

            <button>login</button>

            <hr />
            <p>&copy; @DateTime.Now.Year - Biber Consulting</p>
        }
    </section>
</div>

<!--enable scripts for validation-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
