@using Microsoft.AspNet.Identity
@model BiberDAMM.ViewModels.DoctorIndexViewModel
@{
    ViewBag.Title = "Home Arzt";
}

<!--show alert "InitialPasswordTrue" if the user uses an initial password set by an administrator [KrabsJ]-->
@if (TempData["InitialPasswordTrue"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Achtung!</strong>@TempData["InitialPasswordTrue"] @Html.ActionLink("Passwort ändern", "ChangePassword", "Manage")
    </div>
}

<!--show alert "UnexpectedFailure" [KrabsJ]-->
@if (TempData["UnexpectedFailure"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Unerwarteter Fehler!</strong>@TempData["UnexpectedFailure"]
    </div>
}

<h1>Willkommen @User.Identity.GetUserName()</h1>

<!--
    Author: ChristesR
-->


<!-- Container for displaying the calendar [ChristesR]-->
<div class="container-fluid">
    <h4> Durchzuführende Behandlungen für</h4>
    <div id="calendar"></div>
    
    <!-- Horizontal line-->
    <hr />
</div>


@section Scripts{
    <!-- Daycalendar[ChristesR]-->
    <script>

        //When the document is ready we initalize the calendar-view [HansesM]
        $(document).ready(function() {
            $("#calendar").fullCalendar({
                theme: true,
                defaultView: 'agendaDay',
                height: 550,
                editable: false,
                header: {
                    left: 'title',
                    center: '',
                    right: 'today prev,next'
                },
                events: @Html.Raw(Json.Encode(Model.ListTreatments.Data)),
                allDaySlot: false,
                slotDuration: "00:15:00",
                scrollTime: "08:00:00",
                minTime: "7:00:00",
                maxTime: "21:00:00",
                

                //On click on Calendar-Event we redirect the user to the relating treatment-details page [HansesM]
                eventClick: function(calEvent, jsEvent, view) {

                    window.location.href = "/Treatment/Details/" + calEvent.id;
                    //alert("Event mit der ID geklickt: " + calEvent.id);
                    //$(this).css('border-color', 'red');
                }
            });
        });

    </script>
}