@using BiberDAMM.Helpers 
@model IEnumerable<BiberDAMM.Models.Cleaner>  
@{
    ViewBag.Title = "Home Reinigungskraft";
}

<!--show alert "InitialPasswordTrue" if the user uses an initial password set by an administrator [KrabsJ] -->
@if (TempData["InitialPasswordTrue"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Achtung!</strong>@TempData["InitialPasswordTrue"] @Html.ActionLink("Passwort ändern", "ChangePassword", "Manage")
    </div>
}

<!--show alert "UnexpectedFailure" [KrabsJ]-->
@if (TempData["UnexpectedFailure"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Unerwarteter Fehler!</strong>@TempData["UnexpectedFailure"]
    </div>
}

<!-- Notification if cleaning job done -->
@if (TempData["CleaningDone"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Reinigungsplan aktualisiert!</strong>@TempData["CleaningDone"]
    </div>
}
<h1>Willkommen @User.Identity.GetDisplayName()</h1>
<hr />
<!--
    Cleaning schedule viewpage 
    Author: Jean-PierreK
-->
<h3>Es sind folgende Reinigungsarbeiten ausstehend</h3>
<table id="CleaningJobs" class="table table-striped table-bordered" style="width:100%;" border="1" cellspacing="0">
    <thead class="thead-inverse">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CleaningDone)
            </th>
        </tr>
    </thead>
    <tfoot style="background-color: #263238; text-align: right;">
        <tr>
            <td colspan="4">
                <span style="display:inline-block;height:15px"></span>
            </td>
        </tr>
    </tfoot>
    @foreach (var item in ViewBag.CleaningEvents)
    {
        <tr>
            
            <td>
                @item.BeginDate
            </td>
            <td>
                @item.EndDate
            </td>
            <td>
                @item.Room.RoomNumber
            </td>
            <td>
                @using (Html.BeginForm("Check", "Home", new { id = item.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <button title="Reinigung durchgeführt" type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-check" aria-hidden="true"></i></button>
                }
            </td>
        </tr>
    }
</table>
<br />
<br />
<hr />
<h3>Es sind aktuell folgende Patientenzimmer belegt</h3>
<table id="Roomplan" class="table table-striped table-bordered" style="width:100%;" border="1" cellspacing="0">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room.RoomNumber)
            </th>
        </tr>
    </thead>
    <tfoot style="background-color: #263238; text-align: right;">
        <tr>
            <td colspan="1">
                <span style="display:inline-block;height:15px"></span>
            </td>
        </tr>
    </tfoot>
    @foreach (var item in ViewBag.OccupiedRooms)
    {
        <tr>
            <td>
                @item.RoomNumber
            </td>
        </tr>
    }
</table>
<br />
<br />

@section Scripts{
<script>
    $(function () {
        $.fn.dataTable.moment('DD.MM.YYYY HH:mm:ss');
        $("#CleaningJobs").dataTable();
    })
    $(function () {
        $.fn.dataTable.moment('DD.MM.YYYY HH:mm:ss');
        $("#Roomplan").dataTable();
    })
    </script>
}
