@using Microsoft.AspNet.Identity
@model IEnumerable<BiberDAMM.Models.Room>  
@{
    ViewBag.Title = "Home Reinigungskraft";
}

<!--show alert "InitialPasswordTrue" if the user uses an initial password set by an administrator [KrabsJ] -->
@if (TempData["InitialPasswordTrue"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Achtung!</strong>@TempData["InitialPasswordTrue"] @Html.ActionLink("Passwort ändern", "ChangePassword", "Manage")
    </div>
}

<!--show alert "UnexpectedFailure" [KrabsJ]-->
@if (TempData["UnexpectedFailure"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Unerwarteter Fehler!</strong>@TempData["UnexpectedFailure"]
    </div>
}

<h1>Willkommen @User.Identity.GetUserName()</h1>

<!--
    Authors: ChristesR, Jean-PierreK
-->
<h2>Es sind folgende Reinigungsarbeiten ausstehend:</h2>
<table id="example" class="table table-striped table-hover table-bordered" style="width:100%;" border="1" cellspacing="0">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CleaningDone)
            </th>
        </tr>
    </thead>
    <tfoot style="background-color: #263238; text-align: right;">
        <tr>
            <td colspan="4"></td>
        </tr>
    </tfoot>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.EndDate)
            </td>
            <td>
                @using (Html.BeginForm("Check", "Home", new { id = item.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <button title="Reinigung durchgeführt" type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-check" aria-hidden="true"></i></button>
                }
            </td>
        </tr>
    }
</table>
<br />
<br />
<h2>Es sind folgende Zimmer belegt:</h2>
<table id="example" class="table table-striped table-hover table-bordered" style="width:100%;" border="1" cellspacing="0">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room.RoomNumber)
            </th>
        </tr>
    </thead>
    <tfoot style="background-color: #263238; text-align: right;">
        <tr>
            <td colspan="4"></td>
        </tr>
    </tfoot>
    @foreach (var item in ViewBag.Rooms)
    {
        <tr>
            <td>
                @item.RoomNumber
            </td>
        </tr>
    }
</table>
@section Scripts{
    <script> $(function () { $("#example").dataTable(); })</script>
}
