@* AUTHOR     : [JEL] *@

@* Details-View to show room details *@

@*@model BiberDAMM.Models.Room*@
@model BiberDAMM.ViewModels.BedsInRoomViewModel



@{
    ViewBag.Title = "Raumdetails";
}


<!--Alert-Section-->
<!--Alert if room was deleted unsuccessfully-->
@if (TempData["DeleteRoomFailed"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Raum konnte nicht gelöscht werden!</strong>@TempData["DeleteRoomFailed"]
    </div>
}
<!--Alert if room was successfully updated-->
@if (TempData["EditRoomSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Änderungen gespeichert!</strong>@TempData["EditRoomSuccess"]
    </div>
}

<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room.RoomType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.RoomType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room.RoomMaxSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.RoomMaxSize)
        </dd>

    </dl>
</div>
<!--Table lists all beds and their current patient who are staying in the current room-->
<table id="example" class="table table-striped table-bordered" style="width:100%;" border="1" cellspacing="0">
    <thead class="thead-inverse">
        <tr>
            <th>
                Betten
            </th>
            <th>
                Patient
            </th>

        </tr>
    </thead>
    <tfoot style="background-color: #263238; text-align: right;">
        <tr>
            <td colspan="2">
                <span style="display:inline-block;height:15px"></span>
            </td>
        </tr>
    </tfoot>
    @foreach (var block in Model.currentBedBlocks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => block.Bed.BedModels)
               
               </td>
            <td>
              @Html.DisplayFor(modelItem => block.Stay.Client.Surname) 
                @Html.DisplayFor(modelItem => block.Stay.Client.Lastname)
            </td>
            </tr>
        }
    @foreach (var bed in Model.ListEmptyBeds)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => bed.BedModels)
            </td>
            <td></td>
        </tr>
    }


    </table>

<p>
    <button title="Bearbeiten" onclick="location.href='@Url.Action("Edit", new { id= Model.room.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <!-- Trigger the modal with a button -->
    <button type="button" title="Löschen" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    <button title="Zur Übersicht" onclick="location.href='@Url.Action("Index", new { id=Model.room.Id })';return false;" class="btn btn-outline-primary btn-sm">Zurück</button>
</p>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display: inline-block;">Raum löschen</h4>
                <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true" style="float: right;color:deepskyblue"></i>
            </div>
            <div class="modal-body">
                <p>Möchten Sie den Raum "<b>@Html.DisplayFor(model => model.room.RoomNumber)</b>" wirklich löschen?</p>
                <table class="table" style="width:70%">
                    <tr>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.room.RoomNumber)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.room.RoomNumber)
                                </dd>
                            </dl>
                        </td>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.room.RoomType.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.room.RoomType.Name)
                                </dd>
                            </dl>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Room", new { Id = Model.room.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input title="Löschen" type="submit" value="Löschen" class="btn btn-outline-primary btn-sm" />
                    <button title="Abbrechen" type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Abbrechen</button>
                }
            </div>
        </div>

    </div>
</div>