

@model BiberDAMM.Models.Room

@{
    ViewBag.Title = "Raumdetails";
}

<h2>@ViewBag.Title</h2>

<!--show alert "EditUserSuccess" if a user was successfully updated-->
@*@if (TempData["EditUserSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Änderungen gespeichert!</strong>@TempData["EditUserSuccess"]
    </div>
}*@

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Raumnummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
           Raumtyp
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.RoomType.Name)
        </dd>

       
    </dl>
</div>
<p>  
    <button title="Bearbeiten" onclick="location.href='@Url.Action("Edit", new { id= Model.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button title="Löschen" onclick="location.href='@Url.Action("Delete", new { id=Model.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button>  
    <button title="Zur Übersicht" onclick="location.href='@Url.Action("Index", new { id=Model.Id })';return false;" class="btn btn-outline-primary btn-sm">Zurück</button>
</p>
