<!--
    // Page showing all beds currently occupied
    // Author: Jean-PierreK 
-->

@model IEnumerable<BiberDAMM.ViewModels.BedScheduleViewModel>

@{
    ViewBag.Title = "Aktuelle Bettenbelegung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-sm-4">
        <b>Betten belegt: </b>@ViewBag.BedsInUse
    </div>
    <div class="col-sm-4">
        <b>Bettenplätze insgesamt: </b>@ViewBag.TotalBeds
    </div>
    <div class="col-sm-4">
        <b>Auslastung: </b>@ViewBag.Percentage %
    </div>
</div>
<hr />
<table id="BedSchedule" class="table table-striped table-hover table-bordered" style="width:100%;" border="1" cellspacing="0">
    <thead class="thead-inverse">
        <tr>
            <th>@Html.DisplayNameFor(model => model.BedNbr)</th>
            <th>@Html.DisplayNameFor(model => model.BedModel)</th>
            <th>@Html.DisplayNameFor(model => model.RoomNbr)</th>
            <th>@Html.DisplayNameFor(model => model.PatientSName)</th>
            <th>@Html.DisplayNameFor(model => model.PatientLName)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
        </tr>
    </thead>
    <tfoot style="background-color: #263238; text-align: right;">
        <tr>
            <td colspan="7">
            </td>
        </tr>
    </tfoot>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BedNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientSName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
        </tr>
    }
</table>

<!-- Script Section -->
@section Scripts{
    <script>
        $(function () {
            $.fn.dataTable.moment('DD.MM.YYYY HH:mm:ss');
            $("#BedSchedule").dataTable();
        })</script>
}
