@*
    // Page to add a new bed to the system
    // Author: Jean-PierreK
*@

@using BiberDAMM.Helpers
@model BiberDAMM.Models.Bed

@{
    ViewBag.Title = "Bett hinzufügen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<!-- Notification if deletion of bed fails -->

@if (TempData["CreateBedFailed"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Eigenschaften konnten nicht geändert werden!</strong>@TempData["DeleteBedFailed"]
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Model, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Model, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Model, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomId, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("RoomId", ViewBag.RoomList as SelectList, "Bitte auswählen!", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Room.RoomNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input title="Bett hinzufügen" type="submit" name="command" value="Hinzufügen" class="btn btn-outline-primary btn-sm" />
                <input title="Zur Übersicht" type="submit" name="command" value=@ConstVariables.AbortButton class="btn btn-outline-primary btn-sm" formnovalidate="formnovalidate" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}