@*
    // Page showing details for selected bed
    // Author: Jean-PierreK
*@

@model BiberDAMM.Models.Bed
@{
    ViewBag.Title = "Detailansicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details für Bett @Html.DisplayFor(model => model.Id)</h2>

<!-- Notification if deletion of bed fails -->
@if (TempData["DeleteBedFailed"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Bett konnte nicht gelöscht werden!</strong>@TempData["DeleteBedFailed"]
    </div>
}

<!-- Notification if details of selected bed are edited successfully -->
@if (TempData["EditBedSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Änderungen gespeichert!</strong>@TempData["EditBedSuccess"]
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Bett Id:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Modellbezeichnung:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            Befindet sich im Raum:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.RoomNumber)
        </dd>
    </dl>
</div>

<p>
    <button title="Bearbeiten" onclick="location.href='@Url.Action("Edit", new { id= Model.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button type="button" title="Löschen" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    <button title="Zur Übersicht" onclick="location.href='@Url.Action("Index", new { id=Model.Id })';return false;" class="btn btn-outline-primary btn-sm">Zurück</button>
</p>

<!-- Popup to confirm deletion of selected bed -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display: inline-block;">Bett löschen</h4>
                <i class="fa fa-exclamation-triangle fa-3x btn-outline-primary" aria-hidden="true" style="float: right;"></i>
            </div>
            <div class="modal-body">
                <p>Soll folgendes Bett wirklich <b>gelöscht</b> werden?</p>
                <table class="table" style="width:50%">
                    <tr>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                   Bett Id:
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Id)
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>
                                    Modellbezeichnung:
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Model)
                                </dd>
                                <dt>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>
                                    In Raum:
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Room.RoomNumber)
                                </dd>
                                <dt>
                            </dl>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Bed", new { Id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input title="Löschen" type="submit" value="Löschen" class="btn btn-outline-primary btn-sm" />
                    <input title="Abbrechen" type="submit" value ="Abbrechen" class="btn btn-outline-primary btn-sm" data-dismiss="modal">
                }
            </div>
        </div>
    </div>
</div>