@*
    // Page showing details for selected bed
    // Author: Jean-PierreK
*@


@model BiberDAMM.Models.Bed
@{
    ViewBag.Title = "Detailansicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details für Bett @Html.DisplayFor(model => model.Id)</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Befindet sich im Raum:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room.RoomNumber)
        </dd>
        <dt>
            Bett Id:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Modellbezeichnung:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
    </dl>
</div>

<p>
    <button title="Bearbeiten" onclick="location.href='@Url.Action("Edit", new { id= Model.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button title="Löschen" onclick="location.href='@Url.Action("Delete", new { id=Model.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    <button title="Zur Übersicht" onclick="location.href='@Url.Action("Index", new { id=Model.Id })';return false;" class="btn btn-outline-primary btn-sm">Zurück</button>
</p>