@using System.IdentityModel.Tokens
@using BiberDAMM.Helpers
<!--
* CoreUI - Open Source Bootstrap Admin Template
* version v1.0.0-alpha.5
* link http://coreui.io
* Copyright (c) 2017 creativeLabs Łukasz Holeczek
* license MIT
-->

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DAMM - Your Daily Assistant">
    <meta name="author" content="Leon, Jonas, Anna, Jean-Pierre, Robin, Michael">

    <link rel="shortcut icon" href="~/Content/img/favicon.png">
    
    <title>DAMM - Daily Assistant in Medical Management</title>

    <!-- Plugins and scripts required by this views  [HansesM]-->

</head>
<!-- BODY options, add following classes to body to change options

// Header options
1. '.header-fixed' - Fixed Header

// Sidebar options
1. '.sidebar-fixed' - Fixed Sidebar
2. '.sidebar-hidden' - Hidden Sidebar
3. '.sidebar-off-canvas' - Off Canvas Sidebar
4. '.sidebar-minimized' - Minimized Sidebar (Only icons)
5. '.sidebar-compact' - Compact Sidebar

// Aside options
1. '.aside-menu-fixed' - Fixed Aside Menu
2. '.aside-menu-hidden' - Hidden Aside Menu
3. '.aside-menu-off-canvas' - Off Canvas Aside Menu

// Footer options
1. '.footer-fixed' - Fixed footer
-->
<!-- The following code specifies the layout of our application! [HansesM]-->
<body class="app header-fixed">

    <!-- The App-Header, with Logo, sidebar Toggler and User-Information ! [HansesM] -->
    <header class="app-header navbar">

        <!-- Sidebar-Toggler [HansesM]-->
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>

        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
            </li>
        </ul>

        <!-- Logo [HansesM]-->
        <a class="navbar-brand" href="#"></a>

        <!--Userinformation in Header [HansesM]-->
        <ul class="nav navbar-nav pull-right hidden-md-down">
            @Html.Partial("_LoginPartial")
        </ul>

    </header>


    <!-- The App-Body, containing a sidebar and a full-with container for dynamic contend [HansesM] -->
    <div class="app-body">

        <!-- The sidebar witch can be toggled off [HansesM]-->
        @{
            /*
                Sidebar-conted ist loaded dynamicaly depending on the User-Role. A partial sidebar view for each role [HansesM].
            */

            switch (User.Identity.GetUserType())
            {
                case ConstVariables.RoleAdministrator:
                    @Html.Partial("_SidebarAdministrator")
                    break;

                case ConstVariables.RoleDoctor:
                    @Html.Partial("_SidebarDoctor")
                    break;

                case ConstVariables.RoleNurse:
                    @Html.Partial("_SidebarNurse")
                    break;

                case ConstVariables.RoleTherapist:
                    @Html.Partial("_SidebarTherapist")
                    break;
            }

        }

        <!-- Main contend of the application inside a full-with container! [HansesM] -->
        <main class="main">

            <!-- container-fluid for margins arround the contend [HansesM]-->
            <div class="container-fluid">

                @RenderBody()

            </div>

        </main>

    </div>

    <!-- The footer of our Application containing some Copy-rights etc. [HansesM]-->
    <footer class="app-footer">
        <a>DAMM - Daily Assistant in Medical Management</a> © 2017 Biber Consulting.
        <span class="float-right">
            <a>Powered by Anna, Jonas, Jean-Pierre, Leon, Michael & Robin</a>
        </span>
    </footer>

    <!-- Bootstrap and necessary plugins -->
    @*<script src="~/Scripts/jquery.js"></script>*@
    @*<script src="~/Scripts/jquery.validate.js"></script>*@

    @*<script src="~/Content/tether/dist/js/tether.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@

    <!--<script src="~/Content/pace/pace.min.js"></script> -->
    <!-- GenesisUI main scripts -->
    @*<script src="~/Scripts/app.js"></script>*@


    <!-- Import Bundels for Java-Script and HTML [HansesM]-->
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)


    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)

</body>
</html>
