@*
    View for displaying stay information
    Author: [HansesM]
*@
@using BiberDAMM.Helpers
@using BiberDAMM.Models
@model BiberDAMM.ViewModels.StayDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Aufenthaltsdetails</title>
</head>


@* Displays the main Stayinformation [HansesM]*@
<h2>Aufenthalt von @Html.Raw(Model.Stay.Client.Surname) @Html.Raw(Model.Stay.Client.Lastname)</h2>
@{
    <!-- Displays date-information depending if a end-date is set [HansesM] -->
    if (Model.Stay.EndDate.HasValue)
    {
        <h4>vom @Html.Raw(Model.Stay.BeginDate.ToString("dd.MM.yyyy")) - @Html.Raw(Model.Stay.EndDate != null ? Model.Stay.EndDate.GetValueOrDefault().ToString("dd.MM.yyyy") : "")</h4>
    }
    else
    {
        <h4>am @Html.Raw(Model.Stay.BeginDate.ToString("dd.MM.yyyy"))</h4>
    }
}
<!-- Alert edit is succsessfull [HansesM]-->
@if (TempData["CreateBlocksSuccsess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erfolgreich: </strong>@TempData["CreateBlocksSuccsess"]
    </div>
}

<!-- Alert if deleting a blocks was succsessfull [HansesM]-->
@if (TempData["DeleteBlocksSuccsess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erfolgreich: </strong>@TempData["DeleteBlocksSuccsess"]
    </div>
}

<!-- Alert if a create blocks is aborted [HansesM]-->
@if (TempData["CreateBlocksAbort"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Übernachtung erfassen: </strong>@TempData["CreateBlocksAbort"]
    </div>
}

<!-- Alert if a edit is aborted [HansesM]-->
@if (TempData["EditStayAbort"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Änderungen </strong>@TempData["EditStayAbort"]
    </div>
}

<!-- Alert if edit was successfull [HansesM]-->
@if (TempData["EditStaySuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Änderungen gespeichert!</strong>@TempData["EditStaySuccess"]
    </div>
}

<!-- Alert if edit can't be processed because of concurrency [HansesM]-->
@if (TempData["EditStayConcurrency"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Achtung!</strong>@TempData["EditStayConcurrency"]
    </div>
}

<!-- Alert if a new treatment was successfully created [KrabsJ]-->
@if (TempData["NewTreatmentSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erfolgreich:</strong>@TempData["NewTreatmentSuccess"]
    </div>
}

<!-- Alert if a new treatment was successfully deleted [KrabsJ]-->
@if (TempData["DeleteTreatmentSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Erfolgreich:</strong>@TempData["DeleteTreatmentSuccess"]
    </div>
}

<!-- Alert if a Delete cant be processte [HansesM]-->
@if (TempData["DeleteStayError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Löschen: </strong>@TempData["DeleteStayError"]
    </div>
}

<hr />

<!-- Main form to display stay information [HansesM]-->
<div class="container-fluid">
    @using (Html.BeginForm("Details", "Stay"))
    {
        @Html.HiddenFor(m => m.Stay.Id)
        @Html.HiddenFor(m => m.Stay.RowVersion)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">

            <div class="form-group col-md-8">
                @Html.LabelFor(model => model.Stay.ICD10, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Stay.ICD10, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Stay.ICD10, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Stay.ApplicationUserId, "Behandelnder Arzt", new { @class = "col-form-label" })
                @Html.DropDownListFor(model => model.Stay.ApplicationUserId, Model.ListDoctors, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Stay.ApplicationUser.Lastname, "", new { @class = "text-danger" })
            </div>

        </div>
        <!-- row-->

        <div class="row">

            <div class="form-group col-md-8">
                @Html.LabelFor(model => model.Stay.Result, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Stay.Result, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Stay.Result, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Stay.StayType, "Aufenthaltsart", new { @class = "col-form-label" })
                @Html.EnumDropDownListFor(model => model.Stay.StayType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Stay.StayType, "", new { @class = "text-danger" })
            </div>


        </div>
        <!-- row-->

        <div class="row">

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Stay.BeginDate, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Stay.BeginDate, new { @class = "form-control", id = "beginDate" })
                @Html.ValidationMessageFor(model => model.Stay.BeginDate, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Stay.EndDate, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Stay.EndDate, new { @class = "form-control", id = "endDate" })
                @Html.ValidationMessage("EndDateError", new { @class = "text-danger" })
            </div>

        </div>
        <!--row-->

        <div class="row">

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Stay.Comment, null, new { @class = "col-form-label" })
                @Html.TextAreaFor(model => model.Stay.Comment, new { @class = "form-control", rows = "6" })
            </div>

        </div>
        <!--row-->

        <div class="row">
            <div class="form-group col-md-12">
                <button type="button" title="Löschen" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                <input title="Speichern" type="submit" name="command" value="Speichern" class="btn btn-outline-primary btn-sm" />
                <input title="Änderungen verwerfen" type="submit" name="command" value=@ConstVariables.AbortButton class="btn btn-outline-primary btn-sm" />
            </div>
        </div>
        <!-- row-->
    }
    <hr />
</div>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display: inline-block;">Aufenthalt löschen</h4>
                <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true" style="float: right;color:deepskyblue"></i>
            </div>
            <div class="modal-body">
                <p>Möchten Sie den Aufenthalt wirklich löschen?</p>
                <table class="table" style="width: 50%">
                    <tr>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Stay.Client.Surname)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Stay.Client.Surname)
                                </dd>
                            </dl>
                        </td>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Stay.Client.Lastname)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Stay.Client.Lastname)
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Stay.BeginDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Stay.BeginDate)
                                </dd>
                            </dl>
                        </td>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Stay.EndDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Stay.EndDate)
                                </dd>
                            </dl>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Stay", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(model => model.Stay.Id)
                    @Html.AntiForgeryToken()

                    <input title="Löschen" type="submit" name="command" value="Löschen" class="btn btn-outline-primary btn-sm" />
                    <input title="Zur Übersicht" name="command" value="Abbrechen" data-dismiss="modal" class="btn btn-outline-primary btn-sm" />
                }
            </div>
        </div>

    </div>
</div>

<!-- Container for displaying the calendar [HansesM]-->
<div class="container-fluid">
    <h4> Behandlungsübersicht</h4>
    <div id="calendar"></div>
    <!-- Empty row-->
    <br />
    <button title="Behandlung anlegen" onclick="location.href = '@(Url.Action("SelectTreatmentType", "Treatment", new {id = Model.Stay.Id}))';return false;" class="btn btn-outline-primary btn-sm">Behandlung hinzufügen</button>
    <br />
    <!-- Horizontal line-->
    <hr />
</div>


<!-- Container for a list of all Treatments of the user, witch is initally hidden in a modal -->
<div class="container-fluid">
    <p>
        <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#collapseTreatmentList" aria-expanded="false" aria-controls="collapseTreatmentList">
            Behandlungsübersicht als Liste anzeigen
        </a>
    </p>
    <div class="collapse" id="collapseTreatmentList">
        <div class="card card-block">

            <h4> Behandlungsübersicht als Liste</h4>

            @* Helper variable to access the names of the attributes. Helper makes it possible to display the names when the treatment-list is empty. [HansesM] *@
            @* And a second helper to sort the table by begin-date and updatetimestamp when begin is equal.*@
            @{
                var treatmentHeaderHelper = Model.Stay.Treatments.FirstOrDefault();
                var sortedTreatments = Model.Stay.Treatments;
                sortedTreatments.OrderBy(o => o.BeginDate).ThenBy(o => o.UpdateTimeStamp);
            }

            <table id="treatmentsOfUser" class="table table-striped table-hover table-bordered" style="width: 100%;" border="1" cellspacing="0">
                <thead class="thead-inverse">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => treatmentHeaderHelper.BeginDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => treatmentHeaderHelper.EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => treatmentHeaderHelper.TreatmentType.Name)
                        </th>
                    </tr>
                </thead>
                <!-- head-->

                <tbody>
                    @foreach (var item in sortedTreatments)
                    {
                        <tr onclick="location.href = '@(Url.Action("Details", "Treatment", new {item.Id}))'">
                            <td>
                                @Html.DisplayFor(modeItem => item.BeginDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modeItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TreatmentType.Name)
                            </td>
                        </tr>
                    }
                </tbody>
                <!-- body -->

                <tfoot style="background-color: #263238; color: white; text-align: right;">
                    <tr>
                        <td colspan="3">
                            <button title="Treatment anlegen" onclick="location.href = '@(Url.Action("SelectTreatmentType", "Treatment", new {Model.Stay.Id}))';return false;" style="background-color: transparent; border: hidden;" class="btn btn-outline-primary btn-sm">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tfoot>
                <!-- foot-->

            </table>
        </div>
    </div>
    <hr />
</div>

<!-- Container for displaying Blocks-Bed information, this will only be shown if the staytype is stationär [HansesM] -->
@if (Model.Stay.StayType == StayType.stationär)
{
    <div class="container-fluid">
        <h4>Bettenbelegung für den Aufenthalt </h4>
        <h4>vom @Html.Raw(Model.Stay.BeginDate.ToString("dd.MM.yyyy")) - @Html.Raw(Model.Stay.EndDate != null ? Model.Stay.EndDate.GetValueOrDefault().ToString("dd.MM.yyyy") : "")</h4>

        @* Helper variable to access the names of the attributes. Helper makes it possible to display the names when the treatment-list is empty. [HansesM] *@
        @{ var blocksHeaderHelper = Model.Stay.Blocks.FirstOrDefault(); }

        <table id="blocksOfStay" class="table table-striped table-hover table-bordered" style="width: 100%;">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => blocksHeaderHelper.BeginDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => blocksHeaderHelper.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => blocksHeaderHelper.Bed.BedModels)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => blocksHeaderHelper.Bed.Room.RoomNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => blocksHeaderHelper.Bed.Id)
                    </th>
                </tr>
            </thead>
            <!-- head-->
            <tbody>
                @foreach (var item in Model.Stay.Blocks)
                {
                    <tr onclick="location.href = '@(Url.Action("Details", "Blocks", new {item.Id}))'">
                        <td>
                            @item.BeginDate.ToString("d")
                        </td>
                        <td>
                            @item.EndDate.ToString("d")
                        </td>
                        <td>
                            @Html.DisplayFor(modeItem => item.Bed.BedModels)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItem => item.Bed.Room.RoomNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItem => item.Bed.Id)
                        </td>
                    </tr>
                }
            </tbody>
            <!-- body -->

            <tfoot style="background-color: #263238; color: white; text-align: right;">
                <tr>
                    <td colspan="5">
                        <button title="Treatment anlegen" onclick="location.href = '@(Url.Action("Create", "Blocks", new {Model.Stay.Id}))';return false;" style="background-color: transparent; border: hidden;" class="btn btn-outline-primary btn-sm">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tfoot>
            <!-- foot-->
        </table>
    </div>
            }


@section Scripts{

    <!-- List of treatments [HansesM]-->
    <script>
        $(function () { $("#treatmentsOfUser").dataTable(); })
    </script>

    <!-- Datetimepicker for begin [HansesM]-->
    <script>
        $("#beginDate").datetimepicker({
            sliderAccessArgs: { touchonly: false },
            timeFormat: "HH:mm:ss",
            dateFormat: "dd.mm.yy"
        });
    </script>

    <!-- Datetimepicker for end [HansesM]-->
    <script>
        $("#endDate").datetimepicker({
            sliderAccessArgs: { touchonly: false },
            timeFormat: "HH:mm:ss",
            dateFormat: "dd.mm.yy"
        });
    </script>


    <!-- Fullcalendar with settings [HanseM]-->
    <script>
        @*console.log(@Html.Raw(Json.Encode(BedModels.ListTreatments.Data)));*@

        //When the document is ready we initalize the calendar-view [HansesM]
        $(document).ready(function() {
            $("#calendar").fullCalendar({
                theme: true,
                defaultView: 'agendaWeek',
                height: 550,
                editable: false,
                header: {
                    left: 'title',
                    center: '',
                    right: 'today prev,next'
                },
                events: @Html.Raw(Json.Encode(Model.ListTreatments.Data)),
                allDaySlot: false,
                slotDuration: "00:15:00",
                scrollTime: "08:00:00",
                minTime: "7:00:00",
                maxTime: "21:00:00",
                //sets some business-hours for our calendar (all other hours are gray) [HansesM]
                businessHours: [// specify an array instead
                    {
                        dow: [1, 2, 3, 4], // Monday, Tuesday, Wednesday, Thursday
                        start: '08:00', // 8am
                        end: '18:00' // 6pm
                    },
                    {
                        dow: [5], // Friday
                        start: '10:00', // 10am
                        end: '16:00' // 4pm
                    }
                ],

                //On click on Calendar-Event we redirect the user to the relating treatment-details page [HansesM]
                eventClick: function(calEvent) {

                    window.location.href = "/Treatment/Details/" + calEvent.id;
                    //alert("Event mit der ID geklickt: " + calEvent.id);
                    //$(this).css('border-color', 'red');
                }
            });
        });

    </script>
}