@*
    View for displaying stay information
    Author: [HansesM]
*@
@using BiberDAMM.Helpers
@using BiberDAMM.Models
@model BiberDAMM.ViewModels.StayDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Aufenthaltsdetails</title>
</head>


@* Displays the main Stayinformation [HansesM]*@
<h2>Aufenthalt von @Html.Raw(Model.Stay.Client.Surname) @Html.Raw(Model.Stay.Client.Lastname)</h2>
@{
    <!-- Displays date-information depending if a end-date is set [HansesM] -->
    if (Model.Stay.EndDate.HasValue)
    {
        <h4>vom @Html.Raw(Model.Stay.BeginDate.ToString("dd.MM.yyyy")) - @Html.Raw(Model.Stay.EndDate != null ? Model.Stay.EndDate.GetValueOrDefault().ToString("dd.MM.yyyy") : "")</h4>
    }
    else
    {
        <h4>am @Html.Raw(Model.Stay.BeginDate.ToString("dd.MM.yyyy"))</h4>
    }
}

<!-- Alert if a Edit is aborted [HansesM]-->
@if (TempData["EditStayAbort"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Änderungen </strong>@TempData["EditStayAbort"]
    </div>
}

<!-- Alert if Edit was successfull [HansesM]-->
@if (TempData["EditStaySuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Änderungen gespeichert!</strong>@TempData["EditStaySuccess"]
    </div>
}

<!-- Alert if Edit can't be processed because of concurrency [HansesM]-->
@if (TempData["EditStayConcurrency"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Achtung!</strong>@TempData["EditStayConcurrency"]
    </div>
}

<hr />

<!-- Main form to display stay information [HansesM]-->
<div class="container-fluid">
    @using (Html.BeginForm("Edit", "Stay"))
    {
        @Html.HiddenFor(m => m.Stay.Id)
        @Html.HiddenFor(m => m.Stay.RowVersion)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">

            <div class="form-group col-md-8">
                @Html.LabelFor(model => model.Stay.ICD10, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Stay.ICD10, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Stay.ICD10, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Stay.ApplicationUserId, "Behandelnder Arzt", new { @class = "col-form-label" })
                @Html.DropDownListFor(model => model.Stay.ApplicationUserId, Model.ListDoctors, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Stay.ApplicationUser.Lastname, "", new { @class = "text-danger" })
            </div>

        </div>
        <!-- row-->

        <div class="row">

            <div class="form-group col-md-8">
                @Html.LabelFor(model => model.Stay.Result, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Stay.Result, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Stay.Result, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Stay.StayType, "Aufenthaltsart", new { @class = "col-form-label" })
                @Html.EnumDropDownListFor(model => model.Stay.StayType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Stay.StayType, "", new { @class = "text-danger" })
            </div>


        </div>
        <!-- row-->

        <div class="row">

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Stay.BeginDate, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Stay.BeginDate, new { @class = "form-control", id = "begin" })
                @Html.ValidationMessageFor(model => model.Stay.BeginDate, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Stay.EndDate, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Stay.EndDate, new { @class = "form-control", id = "end" })
                @Html.ValidationMessageFor(model => model.Stay.EndDate, "", new { @class = "text-danger" })
            </div>

        </div>
        <!--row-->

        <div class="row">

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Stay.Comment, null, new { @class = "col-form-label" })
                @Html.TextAreaFor(model => model.Stay.Comment, new { @class = "form-control", rows = "6" })
            </div>

        </div>
        <!--row-->

        <div class="row">
            <div class="form-group col-md-12">
                <input title="Speichern" type="submit" name="command" value="Speichern" class="btn btn-outline-primary btn-sm" />
                <input title="Änderungen verwerfen" type="submit" name="command" value=@ConstVariables.AbortButton class="btn btn-outline-primary btn-sm" />
            </div>
        </div>
        <!-- row-->
    }
    <hr />
</div>

<!-- Container for displaying the calendar [HansesM]-->
<div class="container-fluid">
    <h4> Behandlungsübersicht</h4>
    <div id="calendar"></div>
    <!-- Empty row-->
    <br/>
    <button title="Behandlung hinzufügen" onclick="location.href='@(Url.Action("SelectTreatmentType", "Treatment", new { id = Model.Stay.Id }))';return false;" class="btn btn-outline-primary btn-sm">Behandlung hinzufügen</button>
    <br />
    <!-- Horizontal line-->
    <hr />
</div>


<!-- Container for a list of all Treatments of the user, witch is initally hidden in a modal -->
<div class="container-fluid">
    <p>
        <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#collapseTreatmentList" aria-expanded="false" aria-controls="collapseTreatmentList">
            Behandlungsübersicht als Liste anzeigen
        </a>
    </p>
    <div class="collapse" id="collapseTreatmentList">
        <div class="card card-block">

            <h4> Behandlungsübersicht als Liste</h4>

            @* Helper variable to access the names of the attributes. Helper makes it possible to display the names when the treatment-list is empty. [HansesM] *@
            @{ var treatmentHeaderHelper = Model.Stay.Treatments.FirstOrDefault(); }

            <table id="treatmentsOfUser" class="table table-striped table-hover table-bordered" style="width: 100%;" border="1" cellspacing="0">
                <thead class="thead-inverse">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => treatmentHeaderHelper.TreatmentType.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => treatmentHeaderHelper.Begin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => treatmentHeaderHelper.End)
                        </th>
                    </tr>
                </thead>
                <!-- head-->

                <tbody>
                    @foreach (var item in Model.Stay.Treatments)
                    {
                        <tr onclick="location.href = '@(Url.Action("Details", "Treatment", new {item.Id}))'">
                            <td>
                                @Html.DisplayFor(modelItem => item.TreatmentType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modeItem => item.Begin)
                            </td>
                            <td>
                                @Html.DisplayFor(modeItem => item.End)
                            </td>
                        </tr>
                    }
                </tbody>
                <!-- body -->

                <tfoot style="background-color: #263238; color: white; text-align: right;">
                    <tr>
                        <td colspan="3">
                            <button title="Treatment hinzufügen" onclick="location.href = '@(Url.Action("SelectTreatmentType", "Treatment", new {Model.Stay.Id}))';return false;" style="background-color: transparent; border: hidden;" class="btn btn-outline-primary btn-sm">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tfoot>
                <!-- foot-->

            </table>
        </div>
    </div>
    <hr />
</div>

<!-- Container for displaying Blocks-Bed information, this will only be shown if the staytype is stationär [HansesM] -->
@if (Model.Stay.StayType == StayType.stationär)
{
    <div class="container-fluid">
        <h4>Bettenbelegung für den Aufenthalt </h4>
        <h4>vom @Html.Raw(Model.Stay.BeginDate.ToString("dd.MM.yyyy")) - @Html.Raw(Model.Stay.EndDate != null ? Model.Stay.EndDate.GetValueOrDefault().ToString("dd.MM.yyyy") : "")</h4>

        @* Helper variable to access the names of the attributes. Helper makes it possible to display the names when the treatment-list is empty. [HansesM] *@
        @{ var blocksHeaderHelper = Model.Stay.Blocks.FirstOrDefault(); }

        <table id="blocksOfStay" class="table table-striped table-hover table-bordered" style="width: 100%;" border="1" cellspacing="0">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => blocksHeaderHelper.BeginDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => blocksHeaderHelper.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => blocksHeaderHelper.Bed.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => blocksHeaderHelper.Bed.Room.RoomNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => blocksHeaderHelper.Bed.Id)
                    </th>
                </tr>
            </thead>
            <!-- head-->
            <tbody>
                @foreach (var item in Model.Stay.Blocks)
                {
                    <tr onclick="location.href = '@(Url.Action("Details", "Blocks", new {item.Id}))'">
                        <td>
                            @item.BeginDate.ToString("d")
                        </td>
                        <td>
                            @item.EndDate.ToString("d")
                        </td>
                        <td>
                            @Html.DisplayFor(modeItem => item.Bed.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItem => item.Bed.Room.RoomNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItem => item.Bed.Id)
                        </td>
                    </tr>
                }
            </tbody>
            <!-- body -->

            <tfoot style="background-color: #263238; color: white; text-align: right;">
                <tr>
                    <td colspan="5">
                        <button title="Treatment hinzufügen" onclick="location.href = '@(Url.Action("Create", "Blocks", new {Model.Stay.Id}))';return false;" style="background-color: transparent; border: hidden;" class="btn btn-outline-primary btn-sm">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tfoot>
            <!-- foot-->
        </table>
    </div>
            }


@section Scripts{

    <!-- List of treatments [HansesM]-->
    <script>
        $(function () { $("#treatmentsOfUser").dataTable(); })
    </script>

    <!-- Datetimepicker for begin [HansesM]-->
    <script>
        $("#begin").datetimepicker({
            sliderAccessArgs: { touchonly: false },
            timeFormat: "HH:mm:ss",
            dateFormat: "dd.mm.yy"
        });
    </script>

    <!-- Datetimepicker for end [HansesM]-->
    <script>
        $("#end").datetimepicker({
            sliderAccessArgs: { touchonly: false },
            timeFormat: "HH:mm:ss",
            dateFormat: "dd.mm.yy"
        });
    </script>



    <!-- Fullcalendar with settings [HanseM]-->
    <script>
        console.log(@Html.Raw(Json.Encode(Model.ListTreatments.Data)));

        $(document).ready(function() {
            $("#calendar").fullCalendar({
                theme: true,
                defaultView: 'agendaWeek',
                height: 550,
                editable: false,
                header: {
                    left: 'title',
                    center: '',
                    right: 'today prev,next'
                },
                events: @Html.Raw(Json.Encode(Model.ListTreatments.Data)),
                allDaySlot: false,
                slotDuration: "00:15:00",
                scrollTime: "08:00:00",
                minTime: "7:00:00",
                maxTime: "21:00:00",
                businessHours: [ // specify an array instead
                    {
                        dow: [1, 2, 3, 4], // Monday, Tuesday, Wednesday, Thursday
                        start: '08:00', // 8am
                        end: '18:00' // 6pm
                    },
                    {
                        dow: [ 5 ], // Friday
                        start: '10:00', // 10am
                        end: '16:00' // 4pm
                    }
                ],

                eventClick: function(calEvent, jsEvent, view) {

                    alert("Event mit der ID geklickt: " + calEvent.id);

                    $(this).css('border-color', 'red');
                }
            });
        });

    </script>
}