@* AUTHOR     : ChristesR *@

@* View for Overview of Clients *@

@model IEnumerable<BiberDAMM.Models.Client>

@{
    ViewBag.Title = "Patientenübersicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>

    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchString")
            <input type="submit" value="Filtern"/>
        </p>
    }

</p>
<table class="table table-striped table-hover table-bordered" style="width:100%;" border="1" cellspacing="0">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceNumber)
            </th>
            <th>Verfügbare Aktionen</th>
        </tr>
    </thead>
    <tfoot style="background-color: #263238; text-align: right;">
        <tr>
            <td colspan="6">
                <button title="Benutzer hinzufügen" onclick="location.href='@(Url.Action("Create", "Client"))';return false;" style="background-color:transparent; border:hidden;" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tfoot> 

        @foreach (var item in Model)
        {
            <tr onclick="location.href = '@(Url.Action("Details", "Client", new {id = item.Id}))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuranceNumber)
                </td>
                <td>
                    <button onclick="location.href = '@Url.Action("Edit", new {id = item.Id})';return false;" class="btn btn-default">Bearbeiten</button>
                </td>
            </tr>
        }

</table>