@* AUTHOR     : ChristesR *@

@* View for Detailled viewing Clients *@

@model BiberDAMM.Models.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["ClientSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@TempData["ClientSuccess"]</strong>
    </div>
}

@if (TempData["ClientError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@TempData["ClientError"]</strong>
    </div>
}

<h2>Details</h2>

<div>
    <hr />

    <div class="row">
        <div class="form-group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Surname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>
            </dl>
        </div>
        <div class="form-group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Lastname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lastname)
                </dd>
            </dl>
        </div>
        <div class="form-group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Sex)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sex)
                </dd>
            </dl>
        </div>
        <div class="form-group col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Birthdate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Birthdate)
                </dd>
            </dl>
        </div>
    </div>





</div>


<div id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Alle Patientendetails anzeigen
                </a>
            </h5>
        </div>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <dl class="dl-horizontal">

            <div class="row">
                <div class="form-group col-md-10">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Comment)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Comment)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.InsuranceNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.InsuranceNumber)
                        </dd>
                    </dl>
                </div>
                <div class="form-group col-md-3">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.HealthInsurance.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HealthInsurance.Name)
                        </dd>
                    </dl>
                </div>
                <div class="form-group col-md-3">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.HealthInsurance.Number)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HealthInsurance.Number)
                        </dd>
                    </dl>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Captured)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Captured)
                        </dd>
                    </dl>
                </div>
                <div class="form-group col-md-3">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.LastUpdated)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastUpdated)
                        </dd>
                    </dl>
                </div>
                <div class="form-group col-md-3">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.RowVersion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RowVersion)
                        </dd>
                    </dl>
                </div>

            </div>


        </dl>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Aufenthalte anzeigen
                </a>
            </h5>
        </div>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">


        <table id="staysAtDay" class="table table-striped table-hover table-bordered" style="width:100%;" border="1" cellspacing="0">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        Aufnahmedatum
                    </th>
                    <th>
                        Entlassungsdatum
                    </th>
                    <th>
                        Behandlungstyp
                    </th>
                    <th>
                        Diagnosekennzahl(ICD10)
                    </th>

                </tr>
            </thead>

            @foreach (var item in Model.Stay)
            {

                <tr onclick="location.href = '@(Url.Action("Detail", "Stay", new {id = item.Id}))'">
                    <td>
                        @Html.DisplayFor(modeItem => item.BeginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item.StayType)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item.ICD10)
                    </td>
                </tr>
            }

            <tfoot style="background-color: #263238; color: white; text-align: left;">
                <tr>
                    <td colspan="6">
                        Abgerufen am @DateTime.Now
                    </td>
                </tr>
            </tfoot>
        </table>


        <br />
        <br />


    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Kontakte anzeigen
                </a>
            </h5>
        </div>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">


        <ul class="nav nav-tabs">

            @foreach (var item in Model.ContactData)
            {
                <li class="nav-item">
                    <a class="nav-link active" href='@Url.Action("Details", "ContactData", new {id = item.Id})'> @Html.DisplayFor(modeItem => item.ContactType.Name)</a>
                </li>
            }

        </ul>
        <br />
        <br />
    </div>
</div>


<p>
    <button title="Bearbeiten" onclick="location.href = '@Url.Action("Edit", new {id = Model.Id})';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button title="Zurück zur Übersicht" onclick="location.href = '@Url.Action("Index")';return false;" class="btn btn-outline-primary btn-sm">Zurück</button>
</p>



@section Scripts{
    <script> $(function () { $("#contactIndexTable").dataTable(); })</script>
    <script> $(function () { $("#staysAtDay").dataTable(); })</script>
}