@* AUTHOR     : [JEL] *@

@* Class to show roomType details *@

@model BiberDAMM.Models.RoomType

@{
    ViewBag.Title = "Raumtypdetails";
}


<!--Alert-Section-->
<!--Alert if roomType deleted unsuccessfully-->
@if (TempData["DeleteRoomTypeFailed"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Raumtyp konnte nicht gelöscht werden!</strong>@TempData["DeleteRoomTypeFailed"]
    </div>
}
<!--Alert if a roomtype was successfully updated-->
@if (TempData["EditRoomTypeSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Änderungen gespeichert!</strong>@TempData["EditRoomTypeSuccess"]
    </div>
}

<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

    </dl>
</div>
<p>
    <button title="Bearbeiten" onclick="location.href='@Url.Action("Edit", new { id= Model.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <!-- Trigger the modal with a button -->
    <button type="button" title="Löschen" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    <button title="Zur Übersicht" onclick="location.href='@Url.Action("Index", new { id=Model.Id })';return false;" class="btn btn-outline-primary btn-sm">Zurück</button>
</p>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display: inline-block;">Raumtyp löschen</h4>
                <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true" style="float: right;color:deepskyblue"></i>
            </div>
            <div class="modal-body">
                <p>Möchten Sie den Raumtype "<b>@Html.DisplayFor(model => model.Name)</b>" wirklich löschen?</p>
                <table class="table" style="width:50%">
                    <tr>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                            </dl>
                        </td>
                        <td>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Id)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Id)
                                </dd>
                            </dl>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "RoomType", new { Id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input title="Löschen" type="submit" value="Löschen" class="btn btn-outline-primary btn-sm" />
                    <button title="Abbrechen" type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Abbrechen</button>
                }
            </div>
        </div>
    </div>
</div>