@*
    // Page showing details for selected Contacttype
    // Author: AnnaS
*@


@model BiberDAMM.Models.ContactType
@{
    ViewBag.Title = "Detailansicht";
    
}

<h3>Detailansicht für Kontakttype @Html.DisplayFor(model => model.Id)</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Name)
        </dd>


    </dl>
</div>
<p>
    <button title="Bearbeiten" onclick="location.href='@Url.Action("Edit", new { id= Model.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button title="Löschen" onclick="location.href='@Url.Action("Delete", new { id=Model.Id })';return false;" class="btn btn-outline-primary btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    <button title="Zur Übersicht" onclick="location.href='@Url.Action("Index", new { id=Model.Id })';return false;" class="btn btn-outline-primary btn-sm">Zurück</button>
</p>
